<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Instalação</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-card class="welcome-card">
              <img src="assets/images/download (1).jpeg" alt="" />
              <ion-card-header>
                <ion-card-title>Card teste</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Instruções p/ instalação.</p>
              </ion-card-content>
            </ion-card>
    <h1>Instalação</h1>
    <ul>
      <li>Teste1</li><br>
      <li>Teste2</li><br>
        <ul>
          <li><b>Teste1</b></li><br>
          <li><b>Teste2</b></li><br>
          <li><b>Teste3</b></li>
          
        </ul>
    </ul>

  </ion-content>