<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Api Externa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block"(click)="get()"><ion-icon slot="start" name="cloud-download"></ion-icon>GET - Receber dados do serv.</ion-button>
  <ion-button expand="block"(click)="post()"><ion-icon slot="start" name="cloud-upload"></ion-icon>POST - Enviar dados p/ o serv.</ion-button>
  <ion-button expand="block"(click)="put()"><ion-icon slot="start" name="refresh-circle"></ion-icon>PUT - Atualiza dados do servid.</ion-button>
  <ion-button expand="block"(click)="delete()"><ion-icon slot="start" name="flame"></ion-icon>DELETE - Exclui dados do serv.</ion-button>
  
  
  <h4>Resposta do serv.:</h4>
  {{result}}
</ion-content>
  