<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Api Externa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block"(click)="get()" fill="outline"><ion-icon slot="start" name="cloud-download"></ion-icon>GET - Receber dados do serv.</ion-button>
  <ion-button expand="block"(click)="post()" fill="outline"><ion-icon slot="start" name="cloud-upload"></ion-icon>POST - Enviar dados p/ o serv.</ion-button>
  <ion-button expand="block"(click)="put()" fill="outline"><ion-icon slot="start" name="refresh-circle"></ion-icon>PUT - Atualizar dados do servi.</ion-button>
  <ion-button expand="block"(click)="delete()" fill="outline"><ion-icon slot="start" name="flame"></ion-icon>DELETE - Exclui dados do serv.</ion-button>
  <ion-item lines="none">
  <ion-label>CEP: </ion-label>
  <ion-input type="number" [(ngModel)]="numeroDoCep" placeholder="50000123" (keyup.enter)='cep()'></ion-input>  
  </ion-item>
  <ion-button (click)="cep()" expand="full" shape="" [disabled]="!numeroDoCep"><ion-icon slot="end" name="airplane"></ion-icon>Consultar</ion-button> <br>


  {{result}} <br>
  {{bairro}}
  {{complemento}} <br>
  {{localidade}} <br>
  {{uf}}

</ion-content>
