<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>CSS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-start>
          <h3>Ionic4</h3>
          rtyuioooooooorewrwieruoweurioweu weiurow euriw eiuro w.
          uofwofuhw fwoehfwoefuhw eofiw ef weif wpefhwoehfwoehfow fe weofwewef.
        </div>
      </ion-col>
      <ion-col>
        <div text-left>
          <h3>Ionic4</h3>
          rtyuioooooooorewrwieruoweurioweu weiurow euriw eiuro w.
          uofwofuhw fwoehfwoefuhw eofiw ef weif wpefhwoehfwoehfow fe weofwewef.
        </div>
      </ion-col>
      <ion-col>
        <div text-capitalize>
          <h3>Ionic4</h3>
          rtyuioooooooorewrwieruoweurioweu weiurow euriw eiuro w.
          uofwofuhw fwoehfwoefuhw eofiw ef weif wpefhwoehfwoehfow fe weofwewef.
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>