<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button expand="block" (click)=openlHeaderFooter()>Header e Footer</ion-button>
<ion-button expand="block"(click)=openlTabs()>Tabs</ion-button>
<ion-button expand="block"(click)=openlMenu()>Menu e Badges</ion-button>
<ion-button expand="block"(click)=openlSplit()>Split</ion-button>
<ion-button expand="block"(click)=openlGrid()>Grid</ion-button>
<ion-button expand="block"(click)=openlFab()>Fab</ion-button>

</ion-content>
